#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [2]:
# Your code here:
data = pd.read_csv('ttest_machine.txt', sep=" ")
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [3]:
# H0 = Time taken by both machine are same
# H1 = Time taken by both machine are not same

st.ttest_rel(data["New_machine"], data["Old_machine"])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

In [4]:
# here p value < 0.05 . we can reject the null hypothesis
# Time taken by both machine are different
# stat is -ve which indicates time taken by old machine is higher than new machine
# it is further validated from average time taken by old machine = 43.23 second> ave time taken by new machine

In [5]:
data["New_machine"].mean()

42.14

In [6]:
data["Old_machine"].mean()

43.230000000000004

In [7]:
data['difference'] = data["New_machine"] - data["Old_machine"]

In [8]:
data

   New_machine  Old_machine  difference
0         42.1         42.7        -0.6
1         41.0         43.6        -2.6
2         41.3         43.8        -2.5
3         41.8         43.3        -1.5
4         42.4         42.5        -0.1
5         42.8         43.5        -0.7
6         43.2         43.1         0.1
7         42.3         41.7         0.6
8         41.8         44.0        -2.2
9         42.7         44.1        -1.4

In [9]:
#Performing on the difference of time taken by both machine
#H0: Time taken by new machine = time taken by old machine
#H1: Time taken by new machine != time taken by old machine

In [10]:
st.ttest_1samp(data["difference"],0)

Ttest_1sampResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

In [11]:
#Conclusion : P value < 0.05 . we can reject null hypotheis. there is difference betwen time taken by both machine
#-ve stat value shows diffence in the time is less than 0

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [12]:
# Your code here:
pokemon = pd.read_csv("pokemon.txt")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [23]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    for i in features:
         results[i] = st.ttest_ind(s1[i], s2[i],equal_var=False)[1]

    
    return results

In [24]:
# Creating two data frame
S1 = pokemon[pokemon["Legendary"] == True]
S2 = pokemon[pokemon["Legendary"] == False]

In [25]:
results = t_test_features(S1, S2)
results

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [26]:
# we have p values < 0.05 so we 
#can conclude that Legendary and non-Legendary pokemons have significantly different stats on each feature

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [27]:
# Your code here
g1 = pokemon[pokemon["Generation"] == 1]
g2 = pokemon[pokemon["Generation"] == 2]

In [28]:
results = t_test_features(g1, g2)
results

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104394,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [54]:
# Your comment here
#except feaure "Speed" all the features have p value > 0.05 , 
#so we are fail to reject null hypothesis , which says that generation 1 and generation 2 mean of all feautres are same

#### Compare pokemons who have single type vs those having two types.

In [52]:
# Your code here
Type_1 = pokemon[pokemon["Type 2"].isna()]

In [53]:
Type_2 = pokemon[pokemon["Type 2"].notna()]

In [55]:
results = t_test_features(Type_1, Type_2)
results

{'HP': 0.11314389855379421,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667842,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819094,
 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

In [ ]:
# Your comment here
# Except "HP" feauture all the other feature have p value < alpha value , which indicate we can reject null hypothesis , 
# menas average value of Attack,Defense, Sp. Atk, Sp. Def, speed and Total are different in Type_1 and Type_2

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [50]:
# Your code here
st.ttest_rel(pokemon["Attack"], pokemon["Defense"])
st.ttest_rel(pokemon["Attack"], pokemon["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [51]:
st.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [ ]:
# Your comment here
#mean value of Attack and Defense are different in pokemons but average value of  Sp. Atk and sp.Def are similar